name: node-sword-interface build

on: push

jobs:
    test:
        name: Run build
        runs-on: ubuntu-20.04
        steps:
        - uses: actions/checkout@v2
        - uses: actions/setup-node@v2
          with:
            node-version: '10'

        - run: sudo apt update && sudo apt install -y libcurl4-gnutls-dev
        - run: npm install
#        - run: npm run doc